<!DOCTYPE html>
<html>
  <head>
    <title>WikiCode</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 
    <h3>Welcome to</h3>   
    <h1>WikiCode</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quisquam libero vitae unde voluptatibus? Aspernatur incidunt, ab accusantium illo quis praesentium asperiores voluptas omnis quaerat, consequatur libero, alias temporibus commodi debitis.</p>
    <a href="/recipes">Find recipes</a>
  </body>
</html>
