<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap">
    <link rel="stylesheet" href="/stylesheets/style_hpg.css">
    <title>WikiCode</title>
</head>
<body>
    <div id="welcome">Welcome to <br>WikiCode</div>   
    
    <p id="pitch">A community based website to create, share, and contribute to code recipes.</p>

    <form action="/recipes">
        <button id="browse">Browse</button>      
    </form>
    <form action="/auth/google">
        <button id="login">Log In</button>
    </form>


</body>
</html>


