body {
  margin: 0;
  background-color: #e5e5e5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 2vw
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #373A3C;
  font-family: 'Roboto Mono', monospace;

}

.indexTable a {
  color: darkblue;
}

a {
  text-decoration: none;
  color: #e5e5e5;
}

.indexTable {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: space-between;
}

.cardTitle {
  text-align: center;
  
}

.recipeCard {
  width: 50vmin;
  border: 1vmin solid red;
  margin: 2vmin;
  padding: 1vmin;
}

#metabox {
  font-family: 'Roboto Mono', monospace;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color:#c4c4c4;
  width: 40rem;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 20px;
  margin: 20px;
}

.row {
  display: flex;
  flex-direction: row;
  margin: 3px;
}

.col {
  margin: 5px;
}

.display {
  background-color: #e5e5e5;
  border-radius: 20px;
  width: 150px;
  height: 10px;
  padding: 4px;
}

input {
  background-color: #e5e5e5;
  border-radius: 20px;
  width: 150px;
  height: 10px;
  padding: 4px;
}

#title {
  width: 314px;
}

table {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding: 0;
}

.step {
  width: 0%;
  height: auto;
  background-color: #373A3C;
  color: #e5e5e5;
  margin: auto 25px;
  padding: 0;
  border: 1px solid #e5e5e5;
}

.code{
  width: 60%;
  color: #373A3C;
  background-color: #e5e5e5;
  height: auto
}

pre {
  margin: 0;
}

.hljs {
 padding: 0;
}

table, th, td {
  border: 1px solid #373A3C;
  border-collapse: collapse;
  height: auto;
  font-size: 10px;
}
  
  /* @media only screen and (min-width: 768px) {
	.indexTable{
    height: 70vh;
    border: 1px solid red;
	  grid-template-columns: repeat(3, 10vmin);
	  grid-template-rows: 30vmin 30vmin;
	  grid-template-areas: 
	    "card1 card2"
	    "ftr ftr";
	}
} */

.crudBtn {
  display: inline;
}