<%- include('../partials/header') %>
    <h1>Recipes Index</h1>
    <a href="/auth/google">Log-in</a>
    <p><a href="/users">Users</a></p>
    <p><a href="/recipes/newRecipe">Create a new recipe</a></p>
    
    <h3>Search Box goes here</h3>
    <ul>
        <li>Recipe</li>
        <li>Recipe</li>
        <li>Recipe</li>
        <li>Recipe</li>
        <li>Recipe</li>
    </ul>
<%- include('../partials/header') %>