<%- include('../partials/header') %>

<h1>New Recipe</h1>
<div class="metabox">
    <form class="metabox" method="POST" action="/recipes">
    <div class="row">
        <div class="col">
        <label>Title:
            <input class="show" type="text" name="title" >
        </label>
        </div>
        <div class="col">
        <label>Application Framework:
            <input class="show" type="text" name="appServer" >
        </label>
        </div>
        <div class="col">
        <label>Category:
            <input class="show" type="text" name="category" >
        </label>
        </div>
    </div>
    <div class="row">
        <div class="col">
        <label>description:
            <input class="show" type="text" name="description" >
        </label>
        </div>
        <div class="col">
        <label>Web Server:
            <input class="show" type="text" name="webServer" >
        </label> 
        </div>
        <div class="col">    
        <label>Database:
            <input class="show" type="text" name="database" >
        </label>
        </div>
        <div class="col">
        <label>Host:
            <input class="show" type="text" name="appHost" >
        </label>
        </div>
        <div class="col">
        <button id="show" type="submit">Submit</button>
        </div>
    </div>
    </form> 
</div>

<%- include('../partials/footer') %>